<!-- src/main/resources/templates/checkout_publico.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkout</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2>Confirmar Pedido</h2>

    <form action="/checkout" method="post">

        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="text" name="telefono" placeholder="Teléfono" required>
        <input type="text" name="direccion" placeholder="Dirección" required>

        <button class="btn">Finalizar Pedido</button>
    </form>

</div>

</body>
</html>